{% extends 'layoutApp.html' %}


{% block body %}

<h2  style="font-weight: bold; color:#1a1b1bbd;align-items: center;font-style: normal; margin-left:30px;padding-top: 20px;">Cuentas Bancarias</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div style="color: #27633c;background-color: #dbf2e3;border-color: #cdedd8;" class="alert alert-dismissible fade show"  role="alert">
       <p > {{ message }}</p>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
    <div class="col-lg-11 table-responsive" style="padding:30px;background: #FFFFFF;box-shadow: 0px 0px 7px rgba(129, 145, 164, 0.17);border-radius: 20px; margin-bottom:40px;margin: 10px 40px;">
        <table class='table table-borderless table-hover '>
                    <thead style="border-bottom: 1px solid #1a1b1bbd;">
                        <tr>
                            <th>Banco</th>
                            <th>Cuenta</th>
                            <th>Titular</th>
                            <th>Moneda</th>
                            <th>Operacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in session["items"] %}
                        <tr>
                            <td>{{ item.banco }} </td>
                            <td>{{ item.cuenta }}</td>
                            <td>{{ item.titular }}</td>
                            <td>{{ item.moneda }}</td>
                    <td> <a href="/app/editarCuenta/{{item.id}}" style="border-radius: 40px;align-items: center;text-align: center;background: #1E3F1E;" class="btn btn-success">Editar</a>
                        <a href="/app/eliminarCuenta/{{item.id}}" style="border-radius: 40px;align-items: center;text-align: center;background: #BE1823;" class="btn btn-danger" onclick="return confirm('Estás seguro que deseas eliminar el registro?');">Eliminar</a>
                    </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    </div>
</div>


<script src="{{url_for('static', filename='/js/main.js')}}"></script>

{% endblock %}
