{% extends 'layoutApp.html' %}


<!--link rel="stylesheet" href="/static/css/main.css">-->>

{% block body %}
<h1 class="mt-4">Panel de Control</h1>
<!-- <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>

<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
 -->

 <p></p>

<div class="row">
    {% if session["role"] == '1' %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Operación de Cambio</h5>
          <p class="card-text">En esta sección podrá realizar las operaciones de tipo de cambio</p>
          <a href="/app/operacion-cambio" class="btn btn-primary" >Ir a la sección</a>
        </div>
      </div>
    </div>
    {% endif %} 
    
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Órdenes</h5>
          <p class="card-text">En esta sección podrá acceder al historial de órdenes</p>
          <a href="/app/ordenes" class="btn btn-primary">Ir a la sección</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Datos personales</h5>
          <p class="card-text">En esta seccióon podrá consultar y modificar sus datos personales</p>
          <a href="/app/datos-personales" class="btn btn-primary">Ir a la sección</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cuentas</h5>
          <p class="card-text">En esta sección podrá consultar sus cuentas personales</p>
          <a href="/app/cuenta" class="btn btn-primary">Ir a la sección</a>
        </div>
      </div>
    </div>
  {% if session["role"] == '2' %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cambiar Tasa Admin</h5>
        <p class="card-text">En esta sección podrá cambiar la tasa de cambio de Soles/Dolares</p>
        <a href="/app/tasaCambioAdmin" class="btn btn-primary">Ir a la sección</a>
      </div>
  </div>
  </div>
</div>
 {% endif %}   
	

{% endblock %}