{% extends 'layoutApp.html' %}


{% block body %}


<!-- <h2 align="center">WE-EXCHANGE</h2> -->
<p></p>
<div class="row">

    <div class="col-md-12" style="margin-bottom: 1em;">
        <!-- <img style="display:block;margin:auto;" src="../static/img/home/exchange_money_home.jpg" alt=""> -->
        <!-- <img style="display:block;margin:auto;" src="https://dummyimage.com/300x200/2a98c4/fff" alt="" > -->
        <h2 style="font-weight: bold; color:#1a1b1bbd;align-items: center;font-style: normal; margin-left:30px">Transfiere desde tu banco</h2>
        <!-- <h5>Tipo de cambio del dólar hoy en Perú</h5> -->
        <p></p>

        <div class="panel panel-cuentas">
            <div class="panel-body">
                <div class="row"> 
                    <div class="col-lg-11" style="padding:30px;background: #FFFFFF;box-shadow: 0px 0px 7px rgba(129, 145, 164, 0.17);border-radius: 20px; margin-bottom:40px;margin: 20px 40px;">
                        <table class = "table table-borderless table-hover ">
                            <thead style="border-bottom: 1px solid #1a1b1bbd;">
                                <tr>
                                    <th>Cambio</th>
                                    <th>Envio</th>
                                    <th>Recibo</th>
                                    <th>Tipo de Cambio</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ session["monedaCambio"] }}</td>
                                <td>{{ session["montoEnviar"] }}</td>
                                <td>{{ session["montoRecibir"] }}</td>
                                <td>{{ session["tipoCambio"] }}</td>                                
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
              
                <div class="row">
                    <div class="col-lg-11" style="padding:30px;background: #FFFFFF;box-shadow: 0px 0px 7px rgba(129, 145, 164, 0.17);border-radius: 20px; margin-bottom:40px;margin: 20px 40px;">
                        <div class="col-lg-11">
                            <h4>Ahora transfiere {{ session["montoEnviar"] }} {{ session["strMonedaEnvio"] }} desde tu Banca Móvil a la siguiente cuenta</h4>
                            <br>
                            <div class="col-lg-6">
                                <div class="row">
                                   <p> <span style="font-weight: 500;">Número de cuenta </span> : {{ session["NroCuentaEmpresa"] }}</p>
                                </div>
                                <div class="row">
                                   <p> <span style="font-weight: 500;">Banco</span> : BANCO INTERNACIONAL DEL PERU - INTERBANK</p>
                                </div>
                                <div class="row">
                                    <p><span style="font-weight: 500;">Titular de la cuenta</span> : WE EXCHANGE S.A.C</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                   <p> <span style="font-weight: 500;">Tipo de Cuenta</span> : Corriente</p>
                                </div>
                                <div class="row">
                                   <p> <span style="font-weight: 500;">Moneda</span> : {{ session["strMonedaEnvio"] }}</p>
                                </div>
                                <div class="row">
                                   <p> <span style="font-weight: 500;"> Ruc</span> : 20606161256</p>
                                </div>
                            </div>
                            <br>
                          <!--  -->
                          <p><span style="font-weight: 500;">Hora de inicio</span> : {{ session["strHoraInicio"] }}</p>
                          <p><span style="font-weight: 500;">Hora fin</span> :   {{ session["strHoraFin"] }}  </p>
                          <p style="color: #BE1823;">*Se cuenta con un plazo de 20 minutos a partir de ahora para realizar la transferencia sin perder el beneficio de tipo de cambio</p>
                          <button type="button" class="btn btn-success"   style="border-radius: 40px;align-items: center;text-align: center;background: #1E3F1E;"  data-toggle="modal" data-target="#exampleModalCenter">
                                Ya transferí
                            </button>
                        </div>
                      
                </div> 
                    </div>

            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            
            <form action="/app/actualizar/numero/operacion" method="POST" role="form" style="display: block;" enctype="multipart/form-data" onsubmit="return confirm('Tu orden esta siendo verificada, te avisaremos cuando tu cambio haya sido enviado');">
            <div class="modal-content" style="background: #FFFFFF;border-radius: 20px; padding: 20px;">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ELIGE COMO
                    REPORTAR TU TRANSFERENCIA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="NumeroOperacion">Número de Operacion</label>
                        <input type="text" name="NumeroOperacion"  value="" id="NumeroOperacion" tabindex="1" class="form-control" placeholder="Número de Operacion" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="ComprobanteOperacion">Adjuntar comprobante</label>
                        <input type="file" name="ComprobanteOperacion"  value="" id="ComprobanteOperacion" tabindex="1" class="form-control" placeholder="Comprobante" required>
                    </div>

                </div>
                <div style="align-items: flex-end; text-align: end;">
                    <button type="button"  style="border-radius: 40px;align-items: center;text-align: center;border: 1px solid #1E3F1E;" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit"style="border-radius: 40px;align-items: center;text-align: center;background: #1E3F1E;" name="GuardarOperacion" onclick=" validateForm()" value="Guardar_Operacion" class="btn btn-success">Enviar</button>
                </div>
            </div>
            </form>

            </div>
        </div>

    </div>

        
</div>



    



        
    </div>
  

{% endblock %}


{% block script %}

<script>

    $(function(){

        $(".dropdown-banco-1").on('click', 'li a', function(){
            $(".btn-banco-1:first-child").text($(this).text());
            $(".btn-banco-1:first-child").val($(this).text());
        });

        $(".dropdown-banco-2").on('click', 'li a', function(){
            $(".btn-banco-2:first-child").text($(this).text());
            $(".btn-banco-2:first-child").val($(this).text());
        });

        $(".dropdown-tipdoc-1").on('click', 'li a', function(){
            $(".btn-tipdoc-1:first-child").text($(this).text());
            $(".btn-tipdoc-1:first-child").val($(this).text());
        });

    });

    function validateForm() {
        if ($('#NumeroOperacion').val().length != 0) {
            
            $('#ComprobanteOperacion').removeAttr("required");
        }else if($('#ComprobanteOperacion').val()  !=''){
            $('#NumeroOperacion').removeAttr("required");
        }
		
    }
        
</script>

{% endblock %}
