/* html {
  height: 100%;
}
 */
/* html, body {
  height: 100%;
} */
/* 
#imageBox img{
  display:block;
  margin:auto;
} */

/* p, a{
  color: #FFFFFF;
} */

/* p.textColor{
  color: #FFFFFF;
}

h6.textColor{
  color: #FFFFFF;
}

a.textColor{
  color: #FFFFFF;
}
 */

 .aligncenter {
  text-align: center;
}