{% extends 'layoutApp.html' %}


{% block body %}


<!-- <h2 align="center">WE-EXCHANGE</h2> -->
<p></p>
<div class="row">

    <div class="col-md-12" style="margin-bottom: 1em;">
        <!-- <img style="display:block;margin:auto;" src="../static/img/home/exchange_money_home.jpg" alt=""> -->
        <!-- <img style="display:block;margin:auto;" src="https://dummyimage.com/300x200/2a98c4/fff" alt="" > -->
        <h2 align="center">Tu operación de cambio es la siguiente:</h2>
        <!-- <h5>Tipo de cambio del dólar hoy en Perú</h5> -->

        <div class="panel panel-cuentas">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class='table table-striped table-bordered bg-white table-sm'>
                            <thead>
                                <tr>
                                    <th>Cambio</th>
                                    <th>Envio</th>
                                    <th>Recibo</th>
                                    <th>Tipo de Cambio</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ session["monedaCambio"] }}</td>
                                <td>{{ session["montoEnviar"] }}</td>
                                <td>{{ session["montoRecibir"] }}</td>
                                <td>{{ session["tipoCambio"] }}</td>
                                
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <p></p>

                <form action="/operacion-cambio/cuentas" method = "POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Elige el banco de donde envías tu dinero:</h2>
                            <div class="form-group">
                                <label>Banco:</label>
                                <select name="BancoEnvio" class="form-control" style="width: 100%;" id="BancoEnvio">
                                    <option value="" disabled selected>Banco</option>
                                        {% for banco in session["dataBanco1"] %}
                                        <option value="{{ banco.0 }}">{{ banco.1 }}</option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <h2>Elige la cuenta donde recibiras tu dinero:</h2>
                            
                            <div class="form-group">
                                <label>Cuentas:</label>
                                <select name="CuentaRecibo" class="form-control" style="width: 100%;" id="CuentaRecibo">
                                    <option value="" disabled selected>Cuentas</option>
                                    {% for item in session["items"] %}
                                    <option value="{{ item.id }}">{{ item.cuenta }}</option>
                                    {% endfor %}    
                                </select>
                            </div>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary"  style="width: 100%;" data-toggle="modal" data-target="#exampleModalCenter">
                                Agregar cuenta
                            </button>
                            

                            
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Agregar nueva cuenta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Banco:</label>
                                                <select name="Banco" class="form-control" style="width: 100%;" id="Banco">
                                                    <option value="" disabled selected>Banco</option>
                                                        {% for banco in session["dataBanco2"] %}
                                                        <option value="{{ banco.0 }}">{{ banco.1 }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="NumeroCuenta">Numero de la cuenta:</label>
                                                <input type="text" name="NumeroCuenta"  value="" id="NumeroCuenta" tabindex="1" class="form-control" placeholder="Número de la cuenta">
                                            </div>

                                            <div class="form-group">
                                                <label for="NombreTitular">Nombre del Titular:</label>
                                                <input type="text" name="NombreTitular"  value="" id="NombreTitular" tabindex="1" class="form-control" placeholder="Nombe del Titular">
                                            </div>

                                        <!--  <div class="form-group">
                                                <input type="submit" style="width: 100%;" onclick="return false;" class="btn btn-primary" name="upvote" value="upvote" />
                                            </div> -->

                                            <div class="form-group">
                                                <label>Tipo de Documento:</label>
                                                <select name="TipoDocumento" class="form-control" style="width: 100%;" id="TipoDocumento">
                                                    <option value="" disabled selected>Tipo de documento</option>
                                                        {% for tipdoc in session["dataTipDoc"] %}
                                                        <option value="{{ tipdoc.0 }}">{{ tipdoc.1 }}</option>
                                                        {% endfor %}
                                                </select>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="NumeroDocumento">Numero del documento:</label>
                                                <input type="text" name="NumeroDocumento"  value="" id="NumeroDocumento" tabindex="1" class="form-control" placeholder="Numero de documento">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" name="GuardarCuenta" value="Guardar_Cuenta" class="btn btn-primary">Guardar cuenta</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>

                
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button class="btn btn-secondary">Regresar</button>
                                <button type="submit" name="ProcesarOrden" value="Procesar" class="btn btn-primary">Procesar</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <p></p>
                </div> 

                <div class="row">
                    <p></p></div>

                <div class="row">
                    <p></p></div>

            </div>
        </div>
    </div>

        
</div>



    
    <p></p>
    <div class="row">




        
        <div class="w-100"></div>
        <div class="row"><p></p></div>

        <div class="w-100"></div>
        <div class="row"><p></p></div>

        <div class="w-100"></div>
        <div class="row"><p></p></div>
      
    </div>
  

{% endblock %}


{% block script %}

<script>

    $(function(){

        $(".dropdown-banco-1").on('click', 'li a', function(){
            $(".btn-banco-1:first-child").text($(this).text());
            $(".btn-banco-1:first-child").val($(this).text());
        });

        $(".dropdown-banco-2").on('click', 'li a', function(){
            $(".btn-banco-2:first-child").text($(this).text());
            $(".btn-banco-2:first-child").val($(this).text());
        });

        $(".dropdown-tipdoc-1").on('click', 'li a', function(){
            $(".btn-tipdoc-1:first-child").text($(this).text());
            $(".btn-tipdoc-1:first-child").val($(this).text());
        });

    });
        
</script>

{% endblock %}
