{% extends 'layoutApp.html' %}


{% block body %}


<h2> Órdenes </h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>  
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
   <div class="col-md-8">
      <table class = "table table-striped table-bordered bg-white">
         <thead>     
    <tr>
         <th>PEDIDO#</th> 
         <th>NUMERO DE OPERACION</th>
         <th>MONTO ENVIO</th>
         <th>MONEDA</th>
         <th>MONTO RECIBIDO</th>
         <th>MONEDA MONTO RECIBIDO</th>
         <th>BANCO ORIGEN</th>
         <th>NUMERO DE CUENTA DESTINO</th> 
         {% if session["role"] == '2' %}
            <th>NUMERO DE DOCUMENTO</th> 
         {% endif %}                 
        <th>ESTADO</th>
             {% if session["role"] == '2' %}
             <th>OPERACION</th>
             {% endif %}
             {% if session["role"] == '1' %}
             <th>ACTUALIZAR NRO DE OPERACION</th>
             {% endif %}              
         {% if session["role"] == '2' %}
             <th>RUTA COMPROBANTE</th> 
         {% endif %}            
      </tr>
    </thead>
         {% for item in session["itemsOrder"] %}
       <tr>
               <td> {{ item.codInt }} </td>
               <td> {{ item.codOrden }} </td>
               <td> {{ item.mtoEnvio }} </td>
               <td> {{ item.monEnvio }} </td>
               <td> {{ item.mtoRecibo }} </td>
               <td> {{ item.monRecibo }} </td>
               <td> {{ item.banco }} </td>
               <td> {{ item.cuenta }} </td>
               {% if session["role"] == '2' %}
               <td> {{ item.numDoc }} </td>
               {% endif %}        
               <td> {{ item.estado }} </td>
               {% if session["role"] == '2' %}
                  <td> <a href="/editarOrden/{{item.id}}"  class="btn btn-primary">Editar Estado</a> </td> 
               {% endif %} 
               {% if session["role"] == '1' %}
                  <td> <a href="/editarNumOperacion/{{item.id}}"  class="btn btn-primary">Editar</a>
                  </td>
               {% endif %}
               {% if session["role"] == '2' %}
               <td> {{ item.rutaComprobante }} </td>
               {% endif %} 
               
         </td>
       </tr>
    {% endfor %}
 </table>
   </div>
</div>


{% endblock %}