{% extends 'layoutApp.html' %}


{% block body %}


<h2> Órdenes </h2>


<table border = "1" class = "table table">
    <thead>


    
    <tr>
        <th>ID</th>
        <th>CODINTERNO</th>
        <th>CODORDEN</th>

        <th>IDCLIENTE</th>
        <th>FECHAHORACREACION</th>
        <th>MTOENVIO</th>

        <th>MONEDAENVIO</th>
        <th>IDBANCOENVIO</th>
        <th>MTORECIBO</th>

        <th>MONEDARECIBO</th>
        <th>IDCUENTARECIBO</th>
        <th>MTOTIPOCAMBIO</th>
        
        <th>ESTADO</th>

      </tr>
    </thead>
    {% for row in data %}
       <tr>
          <td> {{ row[0] }} </td>
          <td> {{ row[1] }} </td>
          <td> {{ row[2] }} </td>
          <td> {{ row[3] }} </td>
          <td> {{ row[4] }} </td>
          <td> {{ row[5] }} </td>
          <td> {{ row[6] }} </td>
          <td> {{ row[7] }} </td>
          <td> {{ row[8] }} </td>
          <td> {{ row[9] }} </td>
          <td> {{ row[10] }} </td>
          <td> {{ row[11] }} </td>
          <td> {{ row[12] }} </td>
       </tr>
    {% endfor %}
 </table>

{% endblock %}