{% extends 'layoutApp.html' %}


{% block body %}


<h2 style="font-weight: bold; color:#1a1b1bbd;align-items: center;font-style: normal; margin:20px 0px 10px 40px;"> Órdenes </h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
   <div style="color: #27633c;background-color: #dbf2e3;border-color: #cdedd8;" class="alert  alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>  
{% endfor %}
{% endif %} 
{% endwith %}

<div class="row">
   <div class="col-md-11  table-responsive" style="padding:30px;background: #FFFFFF;box-shadow: 0px 0px 7px rgba(129, 145, 164, 0.17);border-radius: 20px; margin-bottom:40px;margin-left: 50px;margin-top: 20px;">
      <table class = "table table-borderless table-hover ">
         <thead style="border-bottom: 1px solid #1a1b1bbd;">     
    <tr>
         <th>Pedido#</th> 
         <th>Numero de operecion</th>
         <th>Monto de envio</th>
         <th>Moneda</th>
         <th>Monto recibido</th>
         <th>Moneda monto recibido</th>
         <th>Banco origen</th>
         <th>Numero de cuenta destino</th> 
         {% if session["role"] == '2' %}
            <th>Numero de documento</th> 
         {% endif %}                 
        <th>Estado</th>
             {% if session["role"] == '2' %}
             <th>Operacion</th>
             {% endif %}
             {% if session["role"] == '1' %}
             <th>Actualizar Nro de operacion</th>
             {% endif %}              
         {% if session["role"] == '2' %}
             <th>Ruta comprobante</th> 
         {% endif %}            
      </tr>
    </thead>
         {% for item in session["itemsOrder"] %}
       <tr>
               <td> {{ item.codInt }} </td>
               <td> {{ item.codOrden }} </td>
               <td> {{ item.mtoEnvio }} </td>
               <td> {{ item.monEnvio }} </td>
               <td> {{ item.mtoRecibo }} </td>
               <td> {{ item.monRecibo }} </td>
               <td> {{ item.banco }} </td>
               <td> {{ item.cuenta }} </td>
               {% if session["role"] == '2' %}
               <td> {{ item.numDoc }} </td>
               {% endif %}        
               <td> {{ item.estado }} </td>
               {% if session["role"] == '2' %}
                  <td> <a href="/editarOrden/{{item.id}}" style="border-radius: 40px;align-items: center;text-align: center;background: #1E3F1E;" class="btn btn-success" class="btn btn-success">Editar Estado</a> </td> 
               {% endif %} 
               {% if session["role"] == '1' %}
                  <td> <a href="/editarNumOperacion/{{item.id}}" style="border-radius: 40px;align-items: center;text-align: center;background: #1E3F1E;" class="btn btn-success" class="btn btn-success">Editar</a>
                  </td>
               {% endif %}
               {% if session["role"] == '2' %}
               <td> <a href="/uploads/{{item.rutaComprobante}}" style="border-radius: 40px;align-items: center;text-align: center;background: #1E3F1E;" class="btn btn-success" class="btn btn-success">Ver imagen</a>
               </td>
               {% endif %}   
       </tr>
    {% endfor %}
 </table>
   </div>
</div>


{% endblock %}