{% extends 'layout.html' %}

{% block body %}
<h2 align="center">WE-EXCHANGE</h2>
<p></p>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="reset-password-form" action="/reset_password/{{id}}/{{token}}" method="post" role="form" style="display: block;">
                            <div class="form-group">
                                <label>Por favor, ingrese los datos solicitados</label>
                                <input type="password" name="password" id="password" tabindex="1" class="form-control" placeholder="Nueva contraseña" value="">
                            </div>

                            <div class="form-group">
                                <!-- <label>Por favor, ingrese los datos solicitados</label> -->
                                <input type="password" name="passwordConfirm" id="password" tabindex="1" class="form-control" placeholder="Confirmar nueva contraseña" value="">
                            </div>

                            
                            <p></p>

                            
                            
                         <!--    
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block">
                                Aceptar
                            </button> -->
                            <!-- <div class="form-group">
                                <a href="/recover-account" class="btn btn-info btn-block">Restablecer contraseña</a>
                            </div> -->

                            <button type="submit" class="btn btn-info btn-block">
                                Reestablecer contraseña
                            </button>

                            <!-- <div class="form-group">
                                <a href="/login" class="btn btn-danger btn-block">Cancelar</a>
                            </div> -->

                            

                            
                            
                      <!--       <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-block">
                                Cancelar
                            </button> -->

                            <p></p>

                           
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row"><p></p></div>
<div class="row"><p></p></div>

{% endblock %}