<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We-Exchange App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/home/logo.jpeg') }}" />
</head>

{% block body %}
<h2 align="center">WE-EXCHANGE</h2>
<p></p>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="reset-password-form" action="/reset_password/{{id}}/{{token}}" method="post" role="form" style="display: block;">
                            <div class="form-group">
                                <label>Por favor, ingrese los datos solicitados</label>
                                <input type="password" name="password" id="password" tabindex="1" class="form-control" placeholder="Nueva contraseña" value="" required>
                            </div>

                            <div class="form-group">
                                <!-- <label>Por favor, ingrese los datos solicitados</label> -->
                                <input type="password" name="passwordConfirm" id="password" tabindex="1" class="form-control" placeholder="Confirmar nueva contraseña" value="" required>
                            </div>

                            
                            <p></p>

                            
                            
                         <!--    
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-block">
                                Aceptar
                            </button> -->
                            <!-- <div class="form-group">
                                <a href="/recover-account" class="btn btn-info btn-block">Restablecer contraseña</a>
                            </div> -->

                            <button type="submit" style="border-radius: 40px;align-items: center;text-align: center;background: #1E3F1E;color: #ffff;padding: 10px;"  class="btn  btn-block">
                                Reestablecer contraseña
                            </button>
 
                            <!-- <div class="form-group">
                                <a href="/login" class="btn btn-danger btn-block">Cancelar</a>
                            </div> -->

                            

                            
                            
                      <!--       <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-block">
                                Cancelar
                            </button> -->

                            <p></p>

                           
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row"><p></p></div>
<div class="row"><p></p></div>

{% endblock %}